test-results
bin
*.userprefs

### Unity
[Bb]uild
[Cc]ache
[Mm]etadata/
[Tt]emp/
[Oo]bj/
assetDatabase3
expandedItems
guidmapper
FailedAssetImports.txt
AssetImportState
EditorUserBuildSettings.asset
ScriptMapper
AssetServerCacheV3
InspectorExpandedItems.asset
ScriptAssemblies/
CurrentLayout.dwlt
*.unityproj
