test-results
bin
*.userprefs

### Unity
[Bb]uild
[Cc]ache
[Mm]etadata/
[Tt]emp/
[Oo]bj/
assetDatabase3
expandedItems
guidmapper
FailedAssetImports.txt
AssetImportState
EditorUserBuildSettings.asset
ScriptMapper
AssetServerCacheV3
InspectorExpandedItems.asset
ScriptAssemblies/
CurrentLayout.dwlt
*.unityproj

Promises/Promises/Deferred.cs.meta
Promises/Promises/Promise.cs.meta
Promises-Unity/Assembly-CSharp-vs.csproj
Promises-Unity/Assembly-CSharp.csproj
Promises-Unity/Promises-Unity-csharp.sln
Promises-Unity/Promises-Unity.sln
Promises-Unity/Assets/Promises
Promises-Unity/Assets/Libraries/Promises
Promises-Unity/Assets/Libraries/Promises.meta
